body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #0f0f1a;
    color: white;
}

/* HERO */
.hero {
    text-align: center;
    padding: 80px 20px;
    background: linear-gradient(135deg, #1a1a2e, #0f0f1a);
}

.hero h1 {
    font-size: 3rem;
    color: #c4b5fd;
}

.hero p {
    color: #d1d5db;
}

.section-title {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 10px;

    font-size: 1.8rem;
    color: #c4b5fd;
}
/* EACH SECTION LOOKS LIKE A PAGE */
.page {
    min-height: 100vh;
    padding: 100px 20px 40px;
    text-align: center;
}

/* CARDS */
.card {
    background: #1a1a2e;
    max-width: 800px;
    margin: 20px auto;
    padding: 25px;
    border-radius: 12px;
    border-left: 4px solid #8b5cf6;
}

/* BUTTON */
.btn {
    display: inline-block;
    padding: 12px 20px;
    background: #6d28d9;
    color: white;
    text-decoration: none;
    border-radius: 8px;
    margin-top: 15px;
}

.btn:hover {
    background: #8b5cf6;
}
/* CARDS */
.card {
    background: #1a1a2e;
    max-width: 900px;
    margin: 0 auto 30px auto;
    padding: 25px;
    border-radius: 12px;

    border-left: 4px solid #8b5cf6;

    box-shadow: 0 4px 15px rgba(139, 92, 246, 0.2);
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 20px rgba(139, 92, 246, 0.4);
}

.card h2 {
    color: #c4b5fd;
}

.card h3 {
    color: #a78bfa;
}

.certificate {
    margin: 20px 0;
    text-align: center;
}

.certificate img {
    width: 100%;
    max-width: 500px;
    
    border-radius: 10px;

    border: 2px solid #8b5cf6;

    box-shadow: 0 4px 15px rgba(139, 92, 246, 0.3);

    transition: 0.3s;
}

.certificate img:hover {
    transform: scale(1.03);
}

.certificate p {
    margin-top: 10px;
    color: #d1d5db;
}

/* LISTS */
ul {
    padding-left: 20px;
}

li {
    margin: 5px 0;
}
.contact-buttons {
    display: flex;
    gap: 15px;
    justify-content: center;
    margin-top: 15px;
    flex-wrap: wrap;
}

.contact-btn {
    display: flex;
    align-items: center;
    gap: 10px;

    padding: 12px 20px;
    border-radius: 10px;

    text-decoration: none;
    color: white;
    font-weight: bold;

    transition: 0.3s;
}

/* ICON */
.contact-btn img {
    width: 20px;
    height: 20px;
}

/* FACEBOOK BUTTON */
.facebook {
    background: #1877f2;
}

.facebook:hover {
    background: #145dc9;
    transform: scale(1.05);
}

/* TELEGRAM BUTTON */
.telegram {
    background: #229ed9;
}

.telegram:hover {
    background: #1b7fb0;
    transform: scale(1.05);
}

@media (max-width: 600px) {

    .hero-buttons {
        display: flex;
        flex-direction: column;
    }

    .btn {
        width: 80%;
        text-align: center;
    }
}

scroll-behavior: smooth;
min-height: 100vh;
